@page "/test"
@using Microsoft.AspNetCore.Components.Authorization
@using FrontSystemWine.Models
@using FrontSystemWine.Services
@inject AuthenticationStateProvider AuthenticationStateProvider

@inherits OwningComponentBase<VinhoService>


    @if (vinhos != null)
        {
            <div class="row">

                @foreach (var vinho in vinhos)
                {
                    <FrontSystemWine.Pages.Components.Vinho.VinhoIndividual vinho="vinho">
                    </FrontSystemWine.Pages.Components.Vinho.VinhoIndividual>
                }
            </div>

        }

@code {

    List<Vinho> vinhos;
    protected override void OnInitialized()
    {
        vinhos = Service.GetVinhos();
        base.OnInitialized();
    }
}